/*CANVAS WIDTH*/

.row {
  max-width: 75rem;
}

/*HEADER*/

header{
	background-color: dimgray;
	padding-top: 1.2em;
	padding-bottom: 1em;
	margin-bottom: 3.5em;
}

#title{
	color: #ffffff;
	letter-spacing: 1px;
  font-size: 1.6875rem;
  margin-top: 3em;
  line-height: 3;
}

#friendship_or_inspiration {
  margin-top: 0.8em;
  letter-spacing: 0.03em;
}

/*SIDEBAR AND TABLE*/

.sidebar p{
  font-size: 10px;
}

table{
  width: 100%;
}

.to {
	width: 60px;
}

.from{
	width: 60px;
}

#toggle{
	width: 50%;
}

/*VISUALIZATION*/

#subtitle {
  text-align: center;
  font-weight: bold;
}

#visualization {
	position: relative;
	float: left;
	padding-top: 25px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px
}

.d3-tip {
  line-height: 1;
  font-size: 12px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  }

  .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: left;
}


#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fade: 0.5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

.arcs {
  stroke: #000;
  stroke-opacity: 0.5;
}

.group[title]:hover:after {
  color: #ff0000;
  font-size: 25px;
}

#region_name{
	font-size: 20px;
	font-weight: bold;
}





	



